#app
  div
    h1.text-7xl Hello Sofia B! #{name}
      .card
        button#counter.bg-green-700.p-8.text-3xl.text-white.rounded-2xl.shadow-2xl(type='button')
        button#counter2.bg-green-700.p-8.text-3xl.text-white.rounded-2xl.shadow-2xl(type='button')
          | Anurag