.ctn-outer(data-barba="wrapper")
	main#home(data-barba="container", data-barba-namespace="home")
		section#section0
			.container.h-full.mx-auto.flex.flex-col.align-center.justify-center
				.p-12.px-4.h-full.w-full.scale-95
					.grid.grid-cols-2.grid-rows-9.h-full.w-full(class="md:grid-cols-6 md:grid-rows-3")
						.flip.col-span-1.row-span-2
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform='translate(0, 15)')
									path.path-for-text(d=[
										"M 10 175",
										"L 10 0",
										"M 10 7.960204194457796e-15",
										"A 65 65 0 1 1 140 0",
										"L 140 175",
										"M 140 175",
										"A 65 65 0 1 1 10 175",
									].join(' '))
							.screen
							.animated-text.text-black.text-3xl KAYLA
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/niluu.png' alt='')
									.flip-back
										img(src='img/prod/niluu-hover.png' alt='')
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl NILUU
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/kayla.png' alt='')
									.flip-back
										img(src='img/prod/kayla-hover.png' alt='')
						.svg1(class="md:!hidden")
							a(href='about.html')
								svg.grid-item(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%' height='100%' viewbox='0 0 150 150' preserveaspectratio='xMidYMid meet')
									circle(cx='75' cy='75' r='74')
									g
										path#path1(d='M 64,0 A 64,64 0 0 1 -64,0 A 64,64 0 0 1 64,0')
										text
											textpath(xlink:href='#path1')
												tspan(dy='10') ABOUT SOFIA
									g
										path#path2(d='M 64,0 A 64,64 0 0 1 -64,0 A 64,64 0 0 1 64,0')
										text
											textpath(xlink:href='#path2')
												tspan(dy='10') GET TO KNOW MORE
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl NUDE
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/nude.png' alt='')
									.flip-back
										img(src='img/prod/nude-hover.png' alt='')
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl PASTA
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/xu.png' alt='')
									.flip-back
										img(src='img/prod/xu-hover.png' alt='')
						.flip.col-span-2.row-span-1
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='translate(12, 0) scale(.8, 1) rotate(90)')
									path.path-for-text(d=[
										"M 10 175",
										"L 10 0",
										"M 10 7.960204194457796e-15",
										"A 65 65 0 1 1 140 0",
										"L 140 175",
										"M 140 175",
										"A 65 65 0 1 1 10 175",
									].join(' '))
							.screen
							.animated-text.text-black.text-3xl HORIZONTAL&nbsp;TITLE
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/pasta.png' alt='')
									.flip-back
										img(src='img/prod/pasta-hover.png' alt='')
						.svg1(class="!hidden md:!flex")
							a(href='about.html')
								svg.grid-item(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%' height='100%' viewbox='0 0 150 150' preserveaspectratio='xMidYMid meet')
									circle(cx='75' cy='75' r='74')
									g
										path#path3(d='M 64,0 A 64,64 0 0 1 -64,0 A 64,64 0 0 1 64,0')
										text
											textpath(xlink:href='#path3')
												tspan(dy='10') ABOUT SOFIA
									g
										path#path4(d='M 64,0 A 64,64 0 0 1 -64,0 A 64,64 0 0 1 64,0')
										text
											textpath(xlink:href='#path4')
												tspan(dy='10') GET TO KNOW MORE
						.hero-title.col-span-2.row-span-1
							.h-full.w-full.flex.flex-col.justify-center.align-center.rounded-full(class="text-md lg:text-2xl")
								| Web Design, Development
								br
								|  &amp; Email Marketing
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl DLH
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/freddys.png' alt='')
									.flip-back
										img(src='img/prod/freddys-hover.png' alt='')
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl MOM&apos;S&nbsp;EYE
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/shoplx.png' alt='')
									.flip-back
										img(src='img/prod/shoplx-hover.png' alt='')
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl SHOP&nbsp;LX
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/moma.png' alt='')
									.flip-back
										img(src='img/prod/moma-hover.png' alt='')
						.flip.col-span-2.row-span-1
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='translate(12, 0) scale(.8, 1) rotate(90)')
									path.path-for-text(d=[
										"M 10 175",
										"L 10 0",
										"M 10 7.960204194457796e-15",
										"A 65 65 0 1 1 140 0",
										"L 140 175",
										"M 140 175",
										"A 65 65 0 1 1 10 175",
									].join(' '))
							.screen
							.animated-text.text-black.text-3xl XU&nbsp;COLLECTIVE
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/delaheart.png' alt='')
									.flip-back
										img(src='img/prod/delaheart-hover.png' alt='')
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl PASTA
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/fiome.png' alt='')
									.flip-back
										img(src='img/prod/fiome-hover.png' alt='')
						.flip
							svg.absolute(width='100%' height='100%' viewbox='0 0 150 150' xmlns='http://www.w3.org/2000/svg')
								g(transform-origin='center' transform='rotate(-90)')
									circle.path-for-text(cx='75' cy='75' r='67' fill='none' stroke='none' stroke-width='.1')
							.screen
							.animated-text.text-black.text-3xl MOM&apos;S&nbsp;EYE
							.flip-outer
								.flip-inner
									.flip-front
										img(src='img/prod/cozy.png' alt='')
									.flip-back
										img(src='img/prod/cozy-hover.png' alt='')
						.svg2
							a(href='hire.html')
								svg.grid-item(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%' height='100%' viewbox='0 0 150 150' preserveaspectratio='xMidYMid meet')
									circle(cx='75' cy='75' r='74')
									g
										path#path1(d='M 64,0 A 64,64 0 0 1 -64,0 A 64,64 0 0 1 64,0' transform='translate(75, 75) rotate(185)' fill='none' stroke='none' stroke-width='15')
										text
											textpath(xlink:href='#path1')
												tspan(dy='10') WORK WITH ME
									g
										path#path2(d='M 64,0 A 64,64 0 0 1 -64,0 A 64,64 0 0 1 64,0' transform='translate(75, 75) rotate(-25)' fill='none' stroke='none' stroke-width='15')
										text
											textpath(xlink:href='#path2')
												tspan(dy='10') LET&apos;S GET STARTED

		section#section1
			.carousel.p-12.px-0.text-6xl
				.ticker-wrapper
					ul.list
						li.list-item
							span &nbsp;DO IT YOURSELF //
						li.list-item
							span &nbsp;DO IT YOURSELF //
						li.list-item
							span &nbsp;DO IT YOURSELF //
						li.list-item
							span &nbsp;DO IT YOURSELF //
						li.list-item
							span &nbsp;DO IT YOURSELF //
						li.list-item
							span &nbsp;DO IT YOURSELF //
						li.list-item
							span &nbsp;DO IT YOURSELF //

		section#section2
			.content.container.mx-auto.p-12
				.flex.flex-row.h-full.w-full.items-stretch.justify-center.text-left
					.border.border-y-0.border-l-0(class='basis-1/4')
						h4.subtitle
							| BUILD YOUR OWN
							br
							|  WEBSITE COURSE
						p.mt-8
							| Looking to DIY your website to stay on a budget?
							| Or curious to learn and begin to dabble in the world of
							| web creation? This is the perfect quick and efficient
							| course for you where I guide you every step of
							| the way using one of the world&rsquo;s easiest web builders.
					.border.border-y-0.border-l-0.px-8(class='basis-1/2')
						h4.subtitle
							| COURSE
							br
							|  MODULES
						.options.mt-8
							ul
								li HOSTING, DOMAIN + SQUARESPACE SET UP
								li DESIGN-CENTERED APPROACH TO WEB BUILDING
								li HOW TO PLAN AND CREATE THE CONTENT FOR YOUR WEBSITE
								li BUILDING YOUR WEBSITE: FOUR MAIN TEMPLATES
								li HOW TO LAUNCH YOUR WEBSITE
							p.mt-8
								| All of the above is included in your course &amp; more!
					.border.border-0.flex.flex-col.items-center.justify-between(class='basis-1/4')
						div
							h1.text-4xl.font-bold $480
						div
							button.bg-black.text-white.text-xl.font-bold.p-4.px-8.rounded-full(class='hover:bg-gray-600')
								| GET STARTED
						div
							button.bg-white.text-black.text-xl.font-bold.p-4.px-8.rounded-full(class='hover:bg-gray-200')
								| LEARN MORE
