.ctn-outer(data-barba='wrapper')
	main#work(data-barba='container' data-barba-namespace='work')
		section#section0
			.container.h-full.mx-auto.flex.flex-col.align-center.justify-center
				h1.text-6xl.font-bold.mb-12 WORK PAGE
				img.rounded-lg.shadow-lg(src='img/WIP.jpg' alt='')