footer.relative
	.content.container.mx-auto.p-12
		hr.mb-12
		.flex.flex-row.h-full.w-full.items-stretch.justify-center.text-left
			.border.border-y-0.border-l-0(class='basis-1/2')
				h4.subtitle
					| SUBSCRIBE FOR MORE
				form.mt-8.mt-8.flex.flex-row.items-stretch.justify-start(action='#', class='w-[75%]')
					input.grow.mr-4.form-input.px-4.py-3.rounded-md(type='email', placeholder='Enter email here')
					button.px-4.py-3.rounded-md.text-white.bg-black(type='submit', class='hover:bg-gray-600')
						| SUBMIT
			.links.grid.grid-cols-1.gap-2.text-right(class='basis-1/2')
				div
					a(href='#') VIEW PORTFOLIO
				div
					a(href='#') GET IN TOUCH
				div
					a(href='#', class='text-[#7C7C7C]') SOFIA BORGES LLC